{% set image = resize_image(path=path,
width=width | default(value=1000),
height=height | default(value=1000),
format=format | default(value='webp'),
quality=quality | default(value=40),
op=op | default(value='fit_width')
)%}

{% if not url %}

{% if caption %}
<figure>
  <img src="{{ image.url }}" alt="{{ image.static_path }}">
  <figcaption>{{caption | safe}}</figcaption>
</figure>
{% else %}
<div><img src="{{ image.url }}" alt="{{ image.static_path }}"></div>
{% endif %}

{% else %}

{% if caption %}
<figure>
  <div class="full-width "><a target="_blank" href="{{path}}"><img src="{{ image.url }}"
        alt="{{ image.static_path }}"></a></div>
  <figcaption class="">{{caption | safe}}</figcaption>
</figure>
{% else %}
<div class="full-width"><a target="_blank" href="{{path}}"><img src="{{ image.url }}" alt="{{ image.static_path }}"></a>
</div>
{% endif %}

{% endif %}
